name: Push to Docker Hub

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install mlflow pandas scikit-learn

      - name: Run Training
        run: |
          # Jalankan training agar folder mlruns tercipta di runner
          python MLProject/modelling.py

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Image
        run: |
          # Cari folder 'model' yang dihasilkan autolog secara otomatis
          MODEL_PATH=$(find mlruns -name "model" -type d | head -n 1)
          echo "Model ditemukan di: $MODEL_PATH"
          
          # Nama repo Docker HARUS huruf kecil semua (lowercase)
          DOCKER_USER="${{ secrets.DOCKERHUB_USERNAME }}"
          REPO_NAME="mlflow-model-titanic" 
          IMAGE_TAG="$DOCKER_USER/$REPO_NAME:latest"

          # Build Docker Image
          mlflow models build-docker \
            -m "$MODEL_PATH" \
            -n "$IMAGE_TAG" \
            --install-mlflow

          # Push ke Docker Hub
          docker push "$IMAGE_TAG"
