name: CI Workflow MLProject

on:
  push:
    branches: [ main ]

jobs:
  build-and-train:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install mlflow pandas scikit-learn docker

      - name: Run MLflow Project (Local Training)
        run: |
          mlflow run MLProject/ --env-manager local

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          RUN_ID=$(ls -t mlruns/0 | grep -v "meta.yaml" | head -n 1)
          
          echo "Run ID yang ditemukan: $RUN_ID"

          mlflow models build-docker \
            -m "runs:/$RUN_ID/model" \
            -n "${{ secrets.DOCKERHUB_USERNAME }}/mlflow-model-galih:latest" \
            --env-manager local

          docker push ${{ secrets.DOCKERHUB_USERNAME }}/mlflow-model-galih:latest
